<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Battery_notifications_high</key>
	<string></string>
	<key>Battery_notifications_low</key>
	<string>low</string>
	<key>Battery_state</key>
	<false/>
	<key>Clock_list</key>
	<data>
	W3siZW5hYmxlZCI6dHJ1ZSwiaWQiOiIyMzUyMTczNi04M0JFLTRDRTAtOEQ2Qy1EMzdE
	OEUyRjRBQTciLCJmb3JtYXQiOiJ5eXl5LU1NLWRkICdXJ3d3IiwidHoiOiJsb2NhbCIs
	Im5hbWUiOiJEYXRlIn0seyJlbmFibGVkIjp0cnVlLCJpZCI6IkEzODc2N0U5LTE4REQt
	NDZFMy1BRUE4LUIyRkNDQkMxNkY0MiIsImZvcm1hdCI6IkVFRUVFIEhIOm1tOnNzIFoi
	LCJ0eiI6ImxvY2FsIiwibmFtZSI6IlRpbWUifV0=
	</data>
	<key>Clock_sensors_mode</key>
	<string>twoRows</string>
	<key>Clock_state</key>
	<true/>
	<key>GPU_state</key>
	<true/>
	<key>NSNavPanelExpandedSizeForSaveMode</key>
	<string>{800, 448}</string>
	<key>NSNavPanelExpandedStateForSaveMode</key>
	<true/>
	<key>NSOSPLastRootDirectory</key>
	<data>
	Ym9va/ACAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAyAEA
	AAQAAAADAwAAAAQAAAUAAAABAQAAVXNlcnMAAAANAAAAAQEAAHRpbS52YW5yZWVuZW4A
	AAAHAAAAAQEAAERlc2t0b3AADAAAAAEGAAAQAAAAIAAAADgAAAAIAAAABAMAADlCAAAA
	AAAACAAAAAQDAACtGAUAAAAAAAgAAAAEAwAALeAFAAAAAAAMAAAAAQYAAFwAAABsAAAA
	fAAAAAgAAAAABAAAQcOKXAoAAAAYAAAAAQIAAAIAAAAAAAAAHwIAAAAAAAAfAgAAAAAA
	AAAAAAABBQAACAAAAAQDAAABAAAAAAAAAAQAAAADAwAA9QEAAAgAAAABCQAAZmlsZTov
	Ly8MAAAAAQEAAE1hY2ludG9zaCBIRAgAAAAEAwAAAFChG3MAAAAIAAAAAAQAAEHHQpBi
	AAAAJAAAAAEBAABFQjFCREI1Qy1BMjkwLTQzMzktODYzMy05Qjk4MjIwQkYwNjYYAAAA
	AQIAAIEAAAABAAAA7xMAAAEAAADvEwAAAQAAAAEAAAABAQAALwAAADAAAAABAgAAZG5p
	YgAAAAABAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAa3NlZAIAAAAAAAAA8AAAAP7/
	//8BAAAAAAAAABMAAAAEEAAASAAAAAAAAAAFEAAAjAAAAAAAAAAQEAAAsAAAAAAAAABA
	EAAAoAAAAAAAAAACIAAAhAEAAAAAAAAFIAAA9AAAAAAAAAAQIAAABAEAAAAAAAARIAAA
	OAEAAAAAAAASIAAAGAEAAAAAAAATIAAAKAEAAAAAAAAgIAAAZAEAAAAAAAAwIAAA0AAA
	AAAAAAABwAAA2AAAAAAAAAARwAAAIAAAAAAAAAASwAAA6AAAAAAAAAAB0AAA0AAAAAAA
	AAAQ0AAABAAAAAAAAAAX8AAAOAAAAAAAAAAi8AAAkAEAAAAAAAA=
	</data>
	<key>NSStatusItem Preferred Position CPU_mini</key>
	<integer>313</integer>
	<key>NSStatusItem Preferred Position Clock_sensors</key>
	<integer>112</integer>
	<key>NSStatusItem Preferred Position Disk_mini</key>
	<integer>407</integer>
	<key>NSStatusItem Preferred Position GPU_mini</key>
	<integer>266</integer>
	<key>NSStatusItem Preferred Position Network_speed</key>
	<integer>454</integer>
	<key>NSStatusItem Preferred Position RAM_mini</key>
	<integer>360</integer>
	<key>NSToolbar Configuration eu.exelban.Stats.Settings.Toolbar</key>
	<dict>
		<key>TB Display Mode</key>
		<integer>1</integer>
		<key>TB Icon Size Mode</key>
		<integer>1</integer>
		<key>TB Is Shown</key>
		<true/>
		<key>TB Size Mode</key>
		<integer>1</integer>
	</dict>
	<key>NSWindow Frame NSNavPanelAutosaveName</key>
	<string>-884 741 800 448 -2560 0 2560 1409 </string>
	<key>Network_speed_icon</key>
	<string>none</string>
	<key>setupProcess</key>
	<true/>
	<key>updater_check_ts</key>
	<integer>1761684065</integer>
	<key>version</key>
	<string>2.11.58</string>
</dict>
</plist>
